@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body {
  color: #000429;
}
nav {
  color: #8A91A8;
  border-bottom: 1px solid #F3F4F7;
  margin-bottom: 20px;
}
nav .container {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}
section {
  padding: 60px 0;
}
button {
  cursor: pointer;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navigation li {
  margin-right: 20px;
}
.navigation a {
  color: #8A91A8;
  text-decoration: none;
}
.navigation a img {
  margin-left: 8px;
}
form.search {
  display: flex;
  align-items: center;
  background: #F3F4F7;
  border-radius: 6px;
  padding: 10px;
  width: 400px;
}
form.search img {
  margin-right: 8px;
}
form.search input {
  background: none;
  border: none;
  outline: none;
}
form.search input::placeholder {
  color: #8A91A8;
}
.mode-btn {
  background: #F3F4F7;
  border-radius: 100px;
  border: none;
  display: flex;
}
.mode-btn img {
  padding: 10px 15px;
  border-radius: 100px;
  margin: 3px 5px;
}
.brightness {
  background: #fff;
}
.action {
  display: flex;
}
.action button {
  border-radius: 3px;
  padding: 12px 15px;
  border: none;
  background: none;
  color: #8A91A8;
}
button.started {
  display: flex;
  align-items: center;
  margin-left: 10px;
  background: #0078FF;
  color: #fff;
}
.banner {
  background: #0078FF;
  border-radius: 20px;
  height: 500px;
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}
.products-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 15px;
}
.sidebar {
  background: #F5F7FA;
  padding: 30px;
}
.sidebar h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.sidebar__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.reset {
  border: none;
  background: none;
  color: #0078FF;
  font-weight: 500;
}
.sidebar label {
  display: block;
  margin: 15px 0;
}
.card-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.products .card {
  background: #F5F7FA;
  color: #8A91A8;
  padding: 10px;
  border-radius: 5px;
}
.products .card__content {
  background: #fff;
  border: 1px solid #EBEFF5;
  padding: 15px;
  border-radius: 5px;
}
.products .card__button {
  background: #F5F5F5;
  color: #6F6F80;
  border-radius: 100px;
  padding: 8px 15px;
  border: none;
  font-weight: 500;
}
.products .card__title {
  display: flex;
  align-items: center;
  margin: 15px 0 10px;
  color: #000429;
}
.products .card__body {
  border-bottom: 1px solid #F5F7FA;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.products .card p, 
.products .card small {
  font-size: 0.75rem;
}
.products .card small {
  display: flex;
}
.products .card small img {
  margin-right: 7px;
}
.products .btn {
  background: #0078FF;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-top: 20px;
}
.btn img {
  margin-left: 10px;
}
.more-btn {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 10px 15px;
  border-radius: 3px;
  background: none;
  border: 1px solid #F5F7FA;
}
.more-btn img {
  margin-left: 10px;
}
.more-btn:hover {
  background: #0078FF;
  border-color: #0078FF;
  color: #fff;
}
.review h2 {
  font-size: 3.5rem;
  max-width: 800px;
  margin: 15px auto;
  text-align: center;
  color: #000429;
}
.review__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: #8A91A8;
}
.review .card {
  padding: 20px;
  border: 2px solid #EBEFF5;
  border-radius: 8px;
}
.review .card__footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.review .card__footer img {
  margin-right: 10px;
}
.review .card__footer h5 {
  color: #000429;
  font-weight: 700;
}
.awareness {
  background: #0078FF;
  height: 480px;
  color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.awareness h2 {
  font-size: 4rem;
  font-weight: 700;
  max-width: 700px;
  padding: 0 50px;
}
footer {
  margin: 30px 0;
  color: #8A91A8;
}
footer .container {
  max-width: 1050px;
  margin: 0 auto;
}
footer .footer {
  display: grid;
  grid-template-columns: 2.2fr 2.5fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #F5F7FA;
  border-top: 1px solid #F5F7FA;
}
footer h4 {
  color: #000429;
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 20px;
}
footer li,
footer p {
  font-size: 0.875rem;
}
footer li {
  list-style: none;
  margin-bottom: 20px;
}
footer .about p {
  margin: 15px 0 25px;
}
footer .social-links {
  display: flex;
  align-items: center;
}
footer .social-links li {
  margin-right: 10px;
}
footer p.email {
  margin-bottom: 20px;
}
footer p.address {
  max-width: 166px;
}
footer a {
  text-decoration: none;
  color: #8A91A8;
}
footer ul.policy {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
footer ul.policy li {
  margin-right: 15px;
}
footer ul.policy img {
  margin-left: 5px;
}
.footer__note {
  padding: 60px 0;
}
.footer__note .note {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 20px;
}
.footer__note .hex {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #8A91A8;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F7FA;
}
.footer__note .copyright {
  margin-top: 30px;
}

/* __________ MEDIA QUERY __________ */
@media (max-width: 1200px) {
  .container,
  .wrapper {
    padding: 0 30px;
  }
  nav .container {
    display: block;
    padding: 30px;
  }
  .card-grids {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .card-grids,
  .review__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .products h3 {
    margin-bottom: 15px;
  }
  .sidebar {
    margin-bottom: 15px;
  }
  .products-grid {
    display: block;
  }
  .review h2 {
    font-size: 2.5rem;
  }
  .awareness {
    height: auto;
    padding: 50px 0;
  }
  .awareness h2 {
    font-size: 3rem;
  }
  footer .footer {
    grid-template-columns: 1fr;
  }
  .footer__note .note {
    grid-template-columns: 50px 1fr;
  }
  .footer__note .hex {
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 515px) {
  .container,
  .wrapper {
    padding: 0 15px;
  }
  section {
    padding: 30px 0;
  }
  .review h2 {
    font-size: 2rem;
  }
  .awareness {
    padding: 30px 0;
  }
  .awareness h2 {
    font-size: 2.5rem;
  }
  .footer__note .note {
    display: block;
  }
  .footer__note .hex {
    margin-bottom: 15px;
  }
}